@import '~prismjs/themes/prism.css';

div[class*='language-'] {
  background-color: #f5f5f5;
}

.theme-default-content pre code, .theme-default-content pre[class*='language-'] code {
  color: #476582;
}

div[class*='language-']::before {
  color: #aaa;
}